@charset "UTF-8";

/* 回答はここに書いてね */
.q2_box{
  background-color:#eff3f4;
  padding:20px;
  width:900px;
  margin:0 auto;
  font-size:18px;
  line-height:22px;
}
.image_left{
  margin:0px 20px 10px 0px;
  float:left;
}
.image_right{
  margin:0px 0px 10px 20px;
  float:right;
}

/* 回答はここに書いてね */
