@charset "UTF-8";

/* 回答はここに書いてね */
.balloon{
  position:relative;
  box-sizing:border-box;
  width:500px;
  padding:20px;
  font-size:16px;
  line-height:16px;
  border-radius:30px;
  border:5px solid #222;
  margin:0 auto;
}
.tri{
  position:absolute;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  border-bottom:5px solid #222;
  border-right:5px solid #222;
  background-color: #fff;
  left:30px;
  bottom:-21px;;
}

.balloon:after{
  content:"";
  display:block;
  width:0px;
  height:0px;
  border-top:30px solid #fff;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
  position:absolute;
  top:112.93px;
}
.balloon:before{
  position:absolute;
  top:120px;
  content:"";
  display:block;
  width:0px;
  height:0px;
  border-top:30px solid #222;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
}

/* 回答はここに書いてね */
