@charset "UTF-8";

/* 回答はここに書いてね */
.fix{
  padding:20px;
}
.contents{
  width:100%;
  display:table;
  table-layout: fixed;
}
.contents:last-child{
  margin-top:20px;
}
.contents-cell{
  padding:20px;
  text-align:center;
  display:table-cell;
}
.center-main{
  background-color:#f0abd9;
}
.center-left{
  width:100px;
  background-color:#fdc8b8;
}
.center-right{
  width:100px;
  background-color:#b6e8ed;
}
.side-main{
  background-color:#ec8f9a;
}
.side-left{
  background-color:#e5d32e;
}
.side-right{
  width:500px;
  background-color:#8fdcad;
}
/* 回答はここに書いてね */
