@charset "UTF-8";

/* 回答はここに書いてね */

.eating{
  width:100%;
  text-align:center;
}
.eating td,.eating th{
    border:solid #dedede 1px;
    padding:10px;
}
.eating tr:nth-child(2n){
  background-color:#ecf1f2;
}
.eating>tbody>tr:last-child{
  border-top:dashed #002 2px;
}
.eating th{
  font-size:18px;
  line-height:26px;
  background-color:#2244aa;
  color:#fff;
}
.eating td{
  line-height:22px;
}
/* 回答はここに書いてね */
